apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: Grafana-app
  name: grafana-deployment-nautilus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: Grafana-app
  template:
    metadata:
      labels:
        app: Grafana-app
    spec:
      containers:
      - image: grafana/grafana
        name: grafana-container
        ports:
          - containerPort: 3000


---
apiVersion: v1
kind: Service
metadata:
  name: grafana-service
spec:
  type: NodePort
  selector:
    app: Grafana-app
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
      nodePort: 32000